<!DOCTYPE html>
<html>
<head>
<title>Garden sensors</title>
    <meta http-equiv="refresh" content="10">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
</style>
<script>
</script>
<body>

<div class="">
    <h1>Sensor data</h1>
    <p>Water temparature is {{ water_temp }} °C.</p>
    <p>Outside air temparature is {{ air_temp }} °C.</p>
    <p>Air humidity is {{ humidity }} %.</p>
    
</div>
    <a href="/main/" role="button">Manual mode</a><br>  <!--class="btn btn-block btn-lg btn-primary"-->
    <a href="/auto/" role="button">Automatic mode</a>

</body>
</html>